html{
	background-color: rgb(52,80,131);
	font-family: Microsoft JhengHei;
	word-break: break-all
}
a:link,a:visited{
	color: black;
	text-decoration: none;
}
.header{
	position: fixed;
	padding: 1%;
	top:0;
	left: 0;
	width: 98%;
	background-color: rgb(57,107,192);
	box-shadow: 0px 3px 4px rgba(0,0,0,0.5);
}
.clear{
	clear:both;
}
.logo{
	float: left;
	width: 150px;
	height: 50px;
}
.logo img{
	float: left;
}
.logo p{
	color: white;
	font-weight: bold;
	float: left;
	width: auto;
}

.search::-webkit-input-placeholder {
    color:    white;
}
.search:-moz-placeholder {
    color:    white;
}
.search::-moz-placeholder {
    color:    white;
}
.search:-ms-input-placeholder {
    color:    white;
}
.search{
	border-radius: 3px;
	margin-top: 13px;
	margin-right: 20px;
	height: 30px;
	font-size: 16px;
	width: 150px;
	background-color: rgba(0,0,0,0);
	float: right;
	border:0px black solid;
	border-bottom: 1px white solid;
	transition:0.5s;
}
.search:focus{
	border-bottom: 1px black solid;
	background-color: rgb(255,255,255) 
}
#function_button{
	float: right;
}
#function_button button{
	border-radius: 5px;
	margin-top: 5px;
	margin-left: 10px;
	width: 70px;
	height: 40px;
	background-color: rgb(255,255,255);
	border:0px black solid;
}
#function_windows{
	text-align: center;
	box-shadow: 0px 2px 2px rgba(0,0,0,0.5);
	position: fixed;
	top:80px;
	right: 0px;
	display: none;
	border-radius: 3px;
	background-color: white;
	width: 200px;
	padding:10px;
}
#function_windows a{
	display: block;
}
#function_windows button{
	margin:5px;
	border-radius: 3px;
	font-size: 16px;
	border: none;
	background-color: rgba(0,0,0,0);
	font-family:  Microsoft JhengHei;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.5);
}
#function_windows button:hover{
	box-shadow: 0px 2px 6px rgba(0,0,0,0.5);
}
#function_windows button:active{
	box-shadow: 0px 2px 6px rgba(0,0,0,0.5) inset;
}
#account{
	font-family:  Microsoft JhengHei;
	font-size: 16px;
	border:1px white solid;
	border-bottom: 1px black solid;
	border-radius: 3px;
	margin:3px;
	transition:.2s;
}
#account:focus{
	border:1px 	#E0FFFF solid;
	box-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}
#pwd{
	font-family:  Microsoft JhengHei;
	font-size: 16px;
	border:1px white solid;
	border-bottom: 1px black solid;
	border-radius: 3px;
	transition:.2s;
}
#pwd:focus{
	border:1px 	#E0FFFF solid;
	box-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}

#function_button button{
	background-color: rgba(97,144,224);
	transition:0.3s;
}
#function_button .actived{
	box-shadow: 0px 2px 4px white;
	background-color: rgb(255,255,255);
}
.user_button{
	border-radius: 3px;
	float: left;
	width: 80px;
	margin: 10px;
	text-align: center;
	transition:0.5s;
}
.user_button:hover{
	box-shadow: 0px 2px 3px rgba(0,0,0,0.5);
}
.user_button img{
	width: 80px;
	height: 80px;
}
.contenter{
	max-width: 650px;
	margin: 0 auto;
}
.contenter a{
	display: block;
}
.wrap{
	margin-top: 80px;
}
.contenter{
	padding-top: 20px;
}
.vote_box{
	box-shadow: 0px 2px 5px rgba(0,0,0,0.5);
	margin-bottom: 30px;
	border-radius: 5px;
	border: 3px white solid;
	background-color: white;
	padding: 10px;
	transition:0.3s;
}
.vote_box:hover{
	border: 3px rgb(126,176,251) solid;
}
.vote_box h2{
	float: left;
	width: 60%;
}
.vote_box p{
	float: right;
}

.footer{
	margin: 0 auto;
	margin-top: 30px;
	padding-top: 20px;
	max-width: 600px;
	text-align: center;
	border-top: 1px white solid;
}
.footer a{
	color: white;
	margin: 0 20px;
	transition:0.5s;
}
.footer a:hover{
	color:rgb(92,237,250);
}
.create_form{
	display: none;
	position: fixed;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(255,255,255,0.5);
}
.form_content{
	position: relative;
	padding:0px 20px 20px 20px;
	box-shadow: 0px 5px 5px rgba(0,0,0,0.3);
	border-radius: 5px;
	text-align: center;
	max-width: 600px;
	margin:0 auto;
	background-color: rgb(255,255,255);
}
.form_content h2{
	margin-top: 40px;
	margin-bottom: 0px;
	font-size: 40px;
}
.form_content table{
	margin: 0 auto;
}
.form_content input.text{
	width: 300px;
}
.form_content .close{
	position: absolute;
	top: 20px;
	right:20px;
	background-color:rgba(0,0,0,0); 
	border: none;
	float: right;
	width: 20px;
	height: 20px;
}
.form_content .close:hover{
	box-shadow: 0px 1px 2px rgba(0,0,0,0.5);
}

.choice_place{
	margin-left: 30px;
}
.date{
	width: 30px;
}




.vote_content{
	width: 90%;
	background-color: white;
	padding: 3% 5% 6% 5%;
	border-radius: 5px;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.6);
	font-size: 20px;
}
.vote_content h2{
	font-size: 40px;
	width: 100%;
}
.vote_content form{
	margin-left: 20px;
}
.vote_content p.info{
	text-align: center;
}
.vote_content .send{
	width: 120px;
	height: 60px;
	font-size: 20px;
	border: none;
	background-color: rgba(0,0,0,0);
	font-family:  Microsoft JhengHei;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.5);
	float: left;
	margin-left: 140px;
	margin-right: 50px;
}
.vote_content .send:hover{
	box-shadow: 0px 2px 6px rgba(0,0,0,0.5);
}
.vote_content .send:active{
	box-shadow: 0px 2px 6px rgba(0,0,0,0.5) inset;
}
.vote_content .show_result{
	font-family:  Microsoft JhengHei;
	display: block;
	border: none;
	width: 120px;
	height: 60px;
	font-size: 20px;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.5);
	text-align: center;
	line-height: 60px;
	float: left;
}
.vote_content .show_result:hover{
	box-shadow: 0px 2px 6px rgba(0,0,0,0.5);	
}
.vote_content .show_result:active{
	box-shadow: 0px 2px 6px rgba(0,0,0,0.5) inset;
}
.vote_content .dis{
	background-color: rgba(0,0,0,0.2);
	color: rgba(0,0,0,0.2);
}
.back_vote{
	display: block;
	width: 40%;
	height: 60px;
	font-size: 20px;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.5);
	text-align: center;
	line-height: 60px;
	margin: 0 auto;
}

.form_content .vcreate{
	border-radius: 3px;
	margin-top: 15px;
	font-size: 16px;
	border: none;
	background-color: rgba(0,0,0,0);
	font-family:  Microsoft JhengHei;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.5);
}
.form_content .vcreate:hover{
	box-shadow: 0px 2px 6px rgba(0,0,0,0.5);
}
.form_content .vcreate:active{
	box-shadow: 0px 2px 6px rgba(0,0,0,0.5) inset;
}

#vote_content form .choice{
	margin: 0;
	border: 1px red solid;
	border-radius: 2px;
}
#mobile_button{
	border:0px black solid;
	background-color: rgba(0,0,0,0);
	float: right;
	width: 40px;
	height: 40px;
	display: none;
	padding:0px;
}
#mobile_button_list{
	display: none;
	position: fixed;
	top:50px;
	right: 10px;
	background-color: white;
	border-radius: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 150px;
	box-shadow: 1px 1px 3px rgba(0,0,0,0.5);
}
#mobile_button_list button{
	background-color: rgba(0,0,0,0);
	font-size: 20px;
	font-family: Microsoft JhengHei;
	border: 0px black solid;
	width: 100%;
	border-bottom: 1px black solid;
}
#mobile_button_list button:hover{
	background-color: #CCEEFF;
}
#mobile_button_list ul{
	font-family: Microsoft JhengHei;
	list-style-type:none;
	margin:0px;
	padding:0px;
}
#mobile_button_list ul a{

	display: block;
}
#mobile_button_list ul a:hover{
	background-color: #CCEEFF;
}
#mobile_button_list ul a li{
	width: 100%;
	border-bottom: 1px black solid;
	font-size: 20px;
}
#mobile_button_list ul a li img{
	width: 20px;
	height: 20px;
}

.feedback_box{
	width: 90%;
	background-color: white;
	padding: 3% 5% 6% 5%;
	border-radius: 5px;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.6);
	font-size: 20px;
	text-align: center;
}
.feedback_box h2{
	font-size: 40px;
	width: 100%;
}

#feedback_content{
	resize:none;
	font-size: 20px;
	width: 100%;
	height: 50px;
	border-radius: 5px;
	font-family:  Microsoft JhengHei;
}

.point_box{
	font-size: 20px;
	border-radius: 5px;
}

.feedback_send{
	margin-top: 20px;
	font-size: 20px;
	border:0px;
	background-color: rgba(0,0,0,0);
	font-family:  Microsoft JhengHei;
	width: 30%;
	height: 60px;
	box-shadow: 0px 0px 3px rgba(0,0,0,0.5);
	border-radius: 5px;
}
.feedback_send:hover{
	box-shadow: 0px 0px 8px rgba(0,0,0,0.5);
}
.feedback_send:active{
	box-shadow: 0px 0px 8px rgba(0,0,0,0.5) inset;
}
#other_feedback{
	margin-top:20px;
	margin-bottom:20px;
	width: 90%;
	background-color: white;
	padding: 3% 5% 6% 5%;
	border-radius: 5px;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.6);
	font-size: 20px;
	text-align: center;
}
.feed{
	margin-top: 10px;
	box-shadow: 0px 2px 3px rgba(0,0,0,0.5);
	border-radius: 5px;
}
.feedback_text{
	float: left;
	width: 70%;
}
.feedback_point{
	float: right;
	width: 30%;
}
@media(max-width:768px){

}

@media(max-width:414px){
	.vote_box h2{
		width: 100%;
	}
	.vote_box p{
		display: none;
	}
	#function_button{
		display: none;
	}
	#mobile_button{
		display: block;
	}
	.search{
		margin-right:10px;
	}
	.form_content{
		padding: 0px 0px 20px 0px;
	}
	.form_content input.text{
		width: 200px;
	}
	#function_windows{
		top:50px;
		left: 0px;
	}
	.vote_content p.info{
		font-size: 16px;
	}
	.vote_content .send{
		padding:0px;
		width: 35%;
		margin-left: 10%;
		margin-right: 10%;
	}
	.vote_content .show_result{
		width: 35%;
	}
}

@media(max-width:375px){
	.logo{
		width: 55px;
	}
	.logo p{
		display: none;
	}
	.search{
		width: 100px;
	}
	.footer a{
		margin:0px 10px;
	}
}